<link href="../css/favorites.css" rel="stylesheet">

<ion-view>

	<div class="list list-favoritos">

	    <a class="item item-avatar" href="#">
	      <img src="img/museu.jpg">
	      <div class="descricao">
			 <div class="row">
				<h2 class="titulo-favorites">Venkman</h2>
				<i class="icon ion-android-star icon-estrela"></i>
			 </div>
		      <p>Back off, man. I'm a scientist.</p>
		      <i class="icon ion-social-facebook icon-facebook" ng-click="teste()"></i>
	      </div>
	    </a>

	    <a class="item item-avatar" href="#">
	      <img src="img/museu.jpg">
	      <div class="descricao">
			 <div class="row">
				<h2 class="titulo-favorites">Venkman</h2>
				<i class="icon ion-android-star icon-estrela"></i>
			 </div>
		      <p>Back off, man. I'm a scientist.</p>
		      <i class="icon ion-social-facebook icon-facebook" ng-click="teste()"></i>
	      </div>
	    </a>

	    <a class="item item-avatar" href="#">
	      <img src="img/museu.jpg">
	      <div class="descricao">
			 <div class="row">
				<h2 class="titulo-favorites">Venkman</h2>
				<i class="icon ion-android-star icon-estrela"></i>
			 </div>
		      <p>Back off, man. I'm a scientist.</p>
		      <i class="icon ion-social-facebook icon-facebook" ng-click="teste()"></i>
	      </div>
	    </a>

	    <a class="item item-avatar" href="#">
	      <img src="img/museu.jpg">
	      <div class="descricao">
			 <div class="row">
				<h2 class="titulo-favorites">Venkman</h2>
				<i class="icon ion-android-star icon-estrela"></i>
			 </div>
		      <p>Back off, man. I'm a scientist.</p>
		      <i class="icon ion-social-facebook icon-facebook" ng-click="teste()"></i>
	      </div>
	    </a>

	</div>
  
</ion-view>
