<link href="../css/material.css" rel="stylesheet">


<ion-view>

	<ion-tabs class="tabs-top">
	 
		<ion-tab title="Material">
			<!-- Tab 1 content -->
			<div class="conteudo-tab">
				<div class="row">
				  <div class="col col-material">
				  	<a href="Trabalho Teste de Software.pdf" target="_blank"><img src="img/minerva.png"></a>
				  </div>
				  <div class="col col-material">
				  	<a href=""><img src="img/minerva.png"></a>
				  </div>
				  <div class="col col-material">
				  	<a href=""><img src="img/minerva.png"></a>
				  </div>
				</div>
			</div>
		</ion-tab>

		<ion-tab title="Vídeos">
			<!-- Tab 2 content -->
			<div class="conteudo-tab">
				<div class="row">
					<div class="col col-videos">
						<a href=""><img class="img-youtube" src="img/logo-youtube.png"></a>
					</div>
					<div class="col col-75 col-videos-descricao">
						<div class="row linha-descricao">Título mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</div>
						<div class="row linha-descricao">Descrição kkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</div>
						<div class="row linha-descricao">Duração</div>
					</div>
				</div>
				<div class="row">
					<div class="col col-videos">
						<a href=""><img class="img-youtube" src="img/logo-youtube.png"></a>
					</div>
					<div class="col col-75 col-videos-descricao">
						<div class="row">Título</div>
						<div class="row">Descrição</div>
						<div class="row">Duração</div>
					</div>
				</div>
				<div class="row">
					<div class="col col-videos">
						<a href=""><img class="img-youtube" src="img/logo-youtube.png"></a>
					</div>
					<div class="col col-75 col-videos-descricao">
						<div class="row">Título</div>
						<div class="row">Descrição</div>
						<div class="row">Duração</div>
					</div>
				</div>
			</div>
		</ion-tab>

	 
	</ion-tabs>
  
</ion-view>
