<link href="../css/menu.css" rel="stylesheet">

<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
            <label class="item item-input label-busca">
              <input type="search" class="caixa-busca">
               <i class="icon ion-search placeholder-icon icon-busca"></i>
            </label>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <div class="header-menu">
      </div>
      <div class="topo-menu">
        <a class="item item-avatar topo-menu-foto" href="#">
          <img src="img/minerva.png">
        </a>
        <h3 class="nome-usuario">Rodrigo</h3>
        <p class="perfil-usuario">Bolsista</p>
      </div>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          <a class="item item-icon-left " href="#">
            <i class="icon ion-compass"></i>
            Mapa
          </a>
        </ion-item>
        <ion-item menu-close ng-click="login()">
          <a class="item item-icon-left " href="#">
            <i class="icon ion-android-person"></i>
            Perfil
          </a>
        </ion-item>
        <ion-item menu-close ng-click="login()">
          <a class="item item-icon-left " href="#">
            <i class="icon ion-android-star"></i>
            Favoritos
          </a>
        </ion-item>
        <ion-item menu-close ng-click="login()">
          <a class="item item-icon-left " href="#">
            <i class="icon ion-ios-paper-outline"></i>
            Materiais
          </a>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
