<link href="../css/signup.css" rel="stylesheet">

<ion-view hide-nav-bar="true">
  <ion-content padding="true">
    <span>Selecione a categoria do perfil:</span>
      <div class="row">
        <select id="selectperfil" ng-model="selectperfil">
          <option selected disabled>Categorias</option>
          <option>Empreendedor</option>
          <option>Escola</option>
          <option>Bolsista</option>
          <option>Professor</option>
        </select>
      </div>  

    <form name="form-empreendedor" ng-show="selectperfil == 'Empreendedor'" ng-submit="Login()">
      <span >*Campos Obrigatórios</span>
      <div class="row">
        <span style="padding-top: 20px;">*Nome</span>
      </div>
      <div class="row">
        <label class="item item-input">
          <input type="text">
        </label>
      </div>
      <div class="row">
        <span>*Email</span>
      </div>
      <div class="row">
        <label class="item item-input">
          <input type="text">
        </label>
      </div>
      <div class="row">
        <span>*Endereço</span>
      </div>
      <div class="row">
        <label class="item item-input">
          <input type="text">
        </label>
      </div>

      <div class="row">
        <div class="col numero">
          <div class="row">
            <span>*Número</span>
          </div>
          <div class="row">
            <label class="item item-input">
              <input type="text">
            </label>
          </div>
        </div>
        <div class="col col-75">
          <div class="row">
            <span>Complemento</span>
          </div>
          <div class="row">
            <label class="item item-input">
              <input type="text">
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="row">
            <span>*CEP</span>
          </div>
          <div class="row">
            <label class="item item-input">
              <input type="text" ng-model="cep" ng-change="mascara(cep,'#####-###')">
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <span>*Telefone 1</span>
          </div>
          <div class="row">
            <label class="item item-input">
              <input type="text">
            </label>
          </div>
        </div>
        <div class="col col-50">
          <div class="row">
            <span>Telefone 2</span>
          </div>
          <div class="row">
            <label class="item item-input">
              <input type="text">
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <span>Descrição</span>
      </div>
      <div class="row">
        <textarea rows="10"></textarea>
      </div>

      <label>
        <button class="button button-block" type="submit">Enviar</button>
      </label>

    </form>
  </ion-content>
</ion-view>
